<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="#">BootAdmin</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>
            <li class="nav-item dropdown">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Doe</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li><a th:href="@{product}"><i class="fa fa-fw fa-link"></i> Товары</a></li>
            <li><a th:href="@{category}"><i class="fa fa-fw fa-link"></i> Категории</a></li>
            <li><a th:href="@{user}"><i class="fa fa-fw fa-link"></i> Пользователи</a></li>
            <li><a th:href="@{role}"><i class="fa fa-fw fa-link"></i> Роли</a></li>
        </ul>
    </div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row py-2">
                    <div class="col-12">
                        <form th:action="@{/product}" method="post" th:object="${product}" enctype="multipart/form-data">
                            <input th:type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" th:field="*{title}" class="form-control" placeholder="Enter name">
                                <small id="nameError" th:errors="*{title}" class="form-text text-danger">Error</small>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" id="description" th:field="*{description}" class="form-control"
                                       placeholder="Enter description">
                                <small id="descriptionError" th:errors="*{description}" class="form-text text-danger">Error</small>
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" id="price" th:field="*{cost}" class="form-control" placeholder="Enter price">
                                <small id="costError" th:errors="*{cost}" class="form-text text-danger">Error</small>
                            </div>
                            <div class="form-group">
                                <label for="roles">Category</label>
                                <select multiple class="form-control" id="roles" th:field="*{categoryId}">
                                    <option th:each="role : ${roles}"
                                            th:text="${role.name}"
                                            th:value="${role.id}"
                                            th:selected="${user.roles.contains(role)}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="newPhotos">Photos</label>
                                <input th:field="*{newPhotos}" type="file" class="form-control" id="newPhotos" multiple>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="container-fluid mb-4">
                            <div class="card-columns" style="column-count: 5">
                                <div class="card" th:each="photo : ${product.photoRawList}">
                                    <div class="card-header">Photo</div>
                                    <img class="card-img-bottom" th:src="@{/photo/{photoId}(photoId=${photo.id})}"
                                         width="40%"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootadmin.min.js}"></script>

</body>
</html>