<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: head"></head>
<body>

<!--================Header Menu Area =================-->
<header th:replace="layout/menu :: menu"></header>
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Cart</h2>
                <div class="page_link">
                    <a th:href="@{/}">Home</a>
                    <a href="#">Cart</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${cartItems}">
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img width="50" height="50" th:src="@{/photo/{productId}/main(productId=${item.product.id})}" alt="">
                                </div>
                                <div class="media-body">
                                    <p th:text="${item.product.title}">Product</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5 th:text="${item.product.cost}">$360.00</h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <form th:action="@{/cart}" method="post">
                                    <input type="text" name="qty" id="qty" maxlength="12" th:value="${item.quantity}" title="Quantity:"
                                           class="input-text qty">
                                    <input type="hidden" name="id" th:value="${item.product.id}"/>
                                    <button onclick="var result = document.getElementById('qty'); var sst = result.value; if( !isNaN( sst )) result.value++;$(this).parents('form').submit();return false;"
                                            class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="var result = document.getElementById('qty'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;$(this).parents('form').submit();return false;"
                                            class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>
                                </form>

                            </div>
                        </td>
                        <td>
                            <h5 th:text="${item.total}">$720.00</h5>
                        </td>
                    </tr>
                    <tr class="bottom_button">
                        <td>
                            <a class="gray_btn" href="#">Update Cart</a>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="cupon_text">
                                <input type="text" placeholder="Coupon Code">
                                <a class="main_btn" href="#">Apply</a>
                                <a class="gray_btn" href="#">Close Coupon</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>$2160.00</h5>
                        </td>
                    </tr>
                    <tr class="shipping_area">
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <h5>Shipping</h5>
                        </td>
                        <td>
                            <div class="shipping_box">
                                <ul class="list">
                                    <li><a href="#">Flat Rate: $5.00</a></li>
                                    <li><a href="#">Free Shipping</a></li>
                                    <li><a href="#">Flat Rate: $10.00</a></li>
                                    <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                </ul>
                                <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                <select class="shipping_select">

                                </select>
                                <select class="shipping_select">

                                </select>
                                <input type="text" placeholder="Postcode/Zipcode">
                                <a class="gray_btn" href="#">Update Details</a>
                            </div>
                        </td>
                    </tr>
                    <tr class="out_button_area">
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="checkout_btn_inner">
                                <a class="gray_btn" href="#">Continue Shopping</a>
                                <a class="main_btn" href="#">Proceed to checkout</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================ start footer Area  =================-->
<script th:replace="layout/footer :: footer"></script>
<script th:replace="layout/footer :: scripts"></script>
</body>
</html>